<footer id="footer" class="footer position-relative">

  <div class="container">
    <div class="row gy-5">

      <div class="col-lg-4">
        <div class="footer-brand">
          <a href="/index.html" class="logo d-flex align-items-center mb-3">
            <span class="sitename">VOA Contabil</span>
          </a>
          <p class="tagline">Contabilidade completa para empresas de todo o Brasil.</p>

          <div class="social-links mt-4">
            <a href="https://wa.me/5592986266289" target="_blank" aria-label="WhatsApp"><i
                class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/voacontabil/" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/voacontabil.am/" aria-label="facebook"><i
                class="bi bi-facebook"></i></a>
            <!-- <a href="https://www.linkedin.com/company/qualisan-consultoria/" aria-label="LinkedIn"><i
                class="bi bi-linkedin"></i></a> -->

          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="footer-links-grid">
          <div class="row">
            <div class="col-6 col-md-4">
              <h5>A Empresa</h5>
              <ul class="list-unstyled">
                <li><a href="/about.html">Sobre Nós</a></li>
                <li><a href="/about.html#team">Nossa Equipe</a></li>
                <li><a href="/contact.html">Contato</a></li>
                <li><a href="/blog.html">Blog</a></li>
              </ul>
            </div>

            <div class="col-6 col-md-4">
              <h5>Links Úteis</h5>
              <ul class="list-unstyled">
                <li><a href="/faq.html">Perguntas Frequentes</a></li>
                <li><a href="/privacity.html">Política de Privacidade</a></li>
                <li><a href="https://maps.app.goo.gl/yKBt9MRUUNgkXDVm7">Localização</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer-cta">
          <h5>Vamos Começar?</h5>
          <a href="/contact.html" class="btn btn-outline">Solicitar Orçamento</a>
        </div>
      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-bottom-content">
            <p>
              Copyright © <span id="currentYear"></span> | VOA Contábil
            </p>
            <div class="credits">
              Desenvolvido por <a href="https://www.siahonline.com.br/">SIAH Software e Serviços</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>