<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link href="/assets/css/sidebar.css" rel="stylesheet" />
</head>

<body>
    <div class="menu-toggle">☰</div>

    <div class="sidebar">
        <h2>Painel</h2>

        <ul>
            <li data-page="post"><i class="bi bi-pencil-square"></i> Publicar Artigo</li>
            <li data-page="lista"><i class="bi bi-card-list"></i> Lista de Artigos</li>
            <li data-page="logout"><i class="bi bi-box-arrow-right"></i> Sair</li>
        </ul>
    </div>

</body>

</html>